<footer>
    <div class="footerContainer">
        <div class="footer-heading footer-1">
            <h3>Information</h3>
            <a href="#">Biblioteket</a>
            <a href="#">Om oss</a>
            <a href="#">Kontakt</a>
        </div>
        <div class="footer-heading footer-2">
            <h3>Sociala Medier</h3>
            <a href="#">Instagram </a>
            <a href="#">Facebook</a>
            <a href="#">Twitter/X</a>
        </div>
        <div class="footer-heading footer-3">
            <h3>Navigering</h3>
            <a routerLink="/home">Hem</a>
            <a routerLink="/courses">Kurser</a>
            <a routerLink="/overall-plan">Ramschema</a>
        </div>
        <div class="email-form">
            <h3>Gå med i vårt nyhetsbrev</h3>
            <form>
                <label for="email" hidden>Email</label>
                <input type="email" placeholder="Skriv din mailadress här" id="email" name="email"
                    class="footer-mail" aria-label="Mailadress, nyhetsbrev">
                <input type="submit" value="Prenumerera" id="footer-email-btn"
                    onclick="alert('Denna funktion fungerar inte just nu.')" aria-label="Submit knapp">
            </form>
        </div>
    </div>
</footer>