<div class="container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Skriv din sökfras här..." #input>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Välj ämne</mat-label>
    <mat-select (selectionChange)="filterCoursesBySubject($event.value)">
      <mat-option *ngFor="let subject of uniqueSubjects" [value]="subject">{{ subject }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Course Code Column -->
      <ng-container matColumnDef="courseCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Kurskod </th>
        <td mat-cell *matCellDef="let row"> {{row.courseCode}} </td>
      </ng-container>

      <!-- Subject Code Column -->
      <ng-container matColumnDef="subjectCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ämneskod </th>
        <td mat-cell *matCellDef="let row"> {{row.subjectCode}} </td>
      </ng-container>

      <!-- Level Column -->
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nivå </th>
        <td mat-cell *matCellDef="let row"> {{row.level}} </td>
      </ng-container>

      <!-- Progression Column -->
      <ng-container matColumnDef="progression">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progression </th>
        <td mat-cell *matCellDef="let row"> {{row.progression}} </td>
      </ng-container>

      <!-- Course Name Column -->
      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Kursnamn </th>
        <td mat-cell *matCellDef="let row"> {{row.courseName}} </td>
      </ng-container>

      <!-- Points Column -->
      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Poäng </th>
        <td mat-cell *matCellDef="let row"> {{row.points}} </td>
      </ng-container>

      <!-- Institution Code Column -->
      <ng-container matColumnDef="institutionCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Institutionskod </th>
        <td mat-cell *matCellDef="let row"> {{row.institutionCode}} </td>
      </ng-container>

      <!-- Subject Column -->
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ämne </th>
        <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
      </ng-container>

      <!-- Syllabus Column -->
      <ng-container matColumnDef="syllabus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Syllabus </th>
        <td mat-cell *matCellDef="let row"> {{row.syllabus}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of courses"></mat-paginator>
  </div>
</div>