<section>
    <div class="pic">
        <img src="../../assets/pics/universitet.webp" alt="Bild på universitet">
    </div>
    <div class="welcome-text">
        <h1>Börja studera på Sveriges största universitet!</h1>
        <p>Vi på Stadsparkens universitet har den utbildningen du letar efter. Med totalt 4328 kurser & program, erbjuder vi Sveriges främsta utbildning. </p>
    </div>
    <div class="pictures">
        <div class="pic-box">
            <img src="../../assets/pics/1.jpg" alt="Personer som studerar">
            <h2>Vilka utbildningar erbjuds?</h2>
        </div>
        <div class="pic-box">
            <img src="../../assets/pics/2.jpg" alt="Bild på en bok">
            <h2>Vad erbjuder biblioteket?</h2>
        </div>
        <div class="pic-box">
            <img src="../../assets/pics/3.jpg" alt="Bild på en byggnad">
            <h2>Utforska skolan</h2>
        </div>
    </div>
    <div>   taseadssadoijasidojas</div>
</section>